name: .NET Tests

on:
  push:
    branches: [ main, lab_1 ]
  pull_request:
    branches: [ main, lab_1 ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore ./CarRental/CarRental.slnx

      - name: Build
        run: dotnet build ./CarRental/CarRental.slnx --no-restore --configuration Release

      - name: Test
        run: dotnet test ./CarRental/CarRental.Tests/CarRental.Tests.csproj --configuration Release --verbosity normal
